.TeamSchedulePageContainer {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.TeamSchedulePageContainer .DateListHeader {
  min-height: 70px;
  padding-right: 17px;
  display: grid;
  grid-template-columns: 1.3fr repeat(7, 1fr);
  gap: 1px;
  background-color: rgba(209, 209, 209, 0.664);
  font-size: 13px;
  align-items: center;
}
.TeamSchedulePageContainer .DateListBody {
  height: 700px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  background-color: rgba(209, 209, 209, 0.541);
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.TeamSchedulePageContainer .DateListBody .EmployeeDetail {
  display: grid;
  grid-template-columns: 1.3fr repeat(7, 1fr);
  gap: 1px;
}
.TeamSchedulePageContainer .DateListBody .EmployeeDetail .EmployeeName {
  min-width: 200px;
  padding: 10px 0 10px 15px;
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 10px;
  align-items: center;
}
.TeamSchedulePageContainer .DateListBody .EmployeeDetail .EmployeeName .Title {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 15px;
  background-color: red;
  font-weight: bold;
  color: #ffffff;
  padding: 0 5px;
  border-radius: 0;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.5);
}
.TeamSchedulePageContainer .DateListBody .EmployeeDetail .EmployeeName .Title::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(160deg, rgba(255, 255, 255, 0.631372549) 0%, rgba(255, 255, 255, 0.4392156863) 45%, rgba(255, 255, 255, 0.2392156863) 46%, rgba(255, 0, 0, 0) 100%);
}
.TeamSchedulePageContainer .DateListBody .EmployeeDetail .EmployeeName .Avatar {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.TeamSchedulePageContainer .DateListBody .EmployeeDetail .EmployeeName .Name {
  text-align: left;
}
.TeamSchedulePageContainer .DateListBody .EmployeeDetail .ScheduleDate {
  background-color: #ffffff;
  min-width: 100px;
  display: flex;
  align-items: center;
  position: relative;
}
.TeamSchedulePageContainer .DateListBody .EmployeeDetail .ScheduleDate.Weekend {
  background: repeating-linear-gradient(45deg, #ebebeb 0%, #ebebeb 10%, rgba(255, 255, 255, 0.5411764706) 10%, rgba(255, 255, 255, 0.5411764706) 20%);
}
.TeamSchedulePageContainer .DateListBody .EmployeeDetail .ScheduleDate .Highlight {
  position: absolute;
  font-size: 14px;
  height: 60%;
  left: -1px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}

.CalendarContainer {
  min-width: 100px;
  height: calc(100% - 2px);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 10px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  position: relative;
  background: #4563b6;
  color: #ebedf5;
  z-index: 4;
  overflow: hidden;
}
.CalendarContainer .EffectBox {
  position: absolute;
  right: 0;
  top: 0;
  height: 400%;
  transform-origin: top right;
  aspect-ratio: 1;
  transition: ease-in-out 0.2s;
}
.CalendarContainer .DateInfo {
  width: 70px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 2;
}
.CalendarContainer .Icon {
  position: absolute;
  transition: ease-in-out 0.3s;
  font-size: 20px;
  top: 5px;
  right: 10px;
  z-index: 2;
}
.CalendarContainer:hover {
  background: #708ddf;
  box-shadow: 0 4px 15px rgb(124, 166, 245);
}
.CalendarContainer:hover .Icon {
  top: 50%;
  transform: rotateY(180deg) translateY(-50%);
  font-size: 50px;
  color: rgba(169, 189, 245, 0.6862745098);
}
.CalendarContainer .Calendar {
  position: absolute;
  top: 100%;
  left: 0;
}
.CalendarContainer .Calendar input {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}

.DateItem {
  height: calc(100% - 2px);
  padding: 5px 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1px 0;
  text-align: left;
  min-width: 100px;
}
.DateItem.EmptyCell {
  min-width: 200px;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(58, 58, 58);
  font-weight: 100;
}
.DateItem.Weekend {
  background: repeating-linear-gradient(45deg, rgba(85, 85, 85, 0.2196078431) 0%, rgba(85, 85, 85, 0.2196078431) 10%, rgba(216, 216, 216, 0.8549019608) 10%, rgba(216, 216, 216, 0.8549019608) 20%);
}

.Button_DropDown {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4563b6;
  position: relative;
  font-size: 17px;
}
.Button_DropDown .Selection {
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Button_DropDown .Selection .Icon {
  transition: ease-in-out 0.3s;
  font-size: 30px;
}
.Button_DropDown .ListItem {
  margin-top: 15px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(136, 136, 136);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.397);
  display: flex;
  flex-direction: column;
  gap: 1px;
  overflow: hidden;
  transition: ease-in-out 0.2s;
}
.Button_DropDown .ListItem .Item {
  background-color: #ffffff;
  padding: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
.Button_DropDown .ListItem .Item:hover {
  background-color: rgba(187, 225, 255, 0.925);
}
.Button_DropDown:hover .ListItem {
  visibility: visible;
  opacity: 1;
}
.Button_DropDown:hover .Icon {
  transform: rotate(180deg);
}/*# sourceMappingURL=TeamSchedulePageTemplate.css.map */