.TeamSchedulePageContainer {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    .ControlBar {
        
    }
    .DateListHeader {
        min-height: 70px;
        padding-right: 17px;
        display: grid;
        grid-template-columns: 1.3fr repeat(7, 1fr);
        gap: 1px;
        background-color: rgba(209, 209, 209, 0.664);
        font-size: 13px;
        align-items: center;

    }
    .DateListBody {

        height: 700px;
        overflow: hidden;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;

        background-color: rgba(209, 209, 209, 0.541);
        display: flex;
        flex-direction: column;
        gap: 1px;

        .EmployeeDetail {
            display: grid;
            grid-template-columns: 1.3fr repeat(7, 1fr);
            gap: 1px;


            .EmployeeName {
                min-width: 200px;
                padding: 10px 0 10px 15px;
                position: relative;
                .Title {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    font-size: 15px;
                    background-color: red;
                    font-weight: bold;
                    color: #ffffff;
                    padding: 0 5px;

                    border-radius: 0;
                    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.5);
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background: linear-gradient(160deg, #ffffffa1 0%, #ffffff70 45%, #ffffff3d 46%,#ff000000 100%);


                    }
                }

                .Avatar {

                    height: 50px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
                    overflow: hidden;


                }
                .Name {
                    text-align: left;
                }
                background-color: rgb(255, 255, 255);
                display: flex;
                gap: 10px;
                align-items: center;
            }
            .ScheduleDate {
                background-color: #ffffff;
                min-width: 100px;

                display: flex;
                align-items: center;
                position: relative;
                &.Weekend{
                    background: repeating-linear-gradient(45deg, 
                    #ebebeb 0%,
                    #ebebeb 10%,
                    #ffffff8a 10%,
                    #ffffff8a 20%,);
                }
                .Highlight {
                    position: absolute;
                    // border-top: 5px solid #ff0000;
                    // background-color: #ff000027;
                    // color: rgb(202, 2, 2);

                    font-size: 14px;
                    height: 60%;
                    left: -1px;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
                }
            }

        }
    }

}

.CalendarContainer {

    min-width: 100px;
    height: calc(100% - 2px);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 10px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    position: relative;
    background: #4563b6;
    color: #ebedf5;
    z-index: 4;
    overflow: hidden;
    .EffectBox {

        position: absolute;
        right: 0;
        top: 0;

        height: 400%;
        transform-origin: top right;
        aspect-ratio: 1;
        transition: ease-in-out 0.2s;
    }
    .DateInfo {

        width: 70px;
        font-size: 14px;

        display: flex;
        flex-direction: column;
        text-align: left;
        z-index: 2;
    }
    .Icon {
        position: absolute;
        transition: ease-in-out 0.3s;
        font-size: 20px;
        top: 5px;
        right: 10px;
        z-index: 2;
    }
    &:hover {
        background: #708ddf;
        box-shadow: 0 4px 15px rgb(124, 166, 245);

    }
    &:hover .Icon {
        top: 50%;
        transform: rotateY(180deg) translateY(-50%);
        font-size: 50px;
        color: #a9bdf5af;

    }
    // &:hover .EffectBox {
    //     left: 30%;
    //     transform: rotate(45deg);
    // }
    .Calendar {
        position: absolute;
        top: 100%;
        left: 0;
        input {
            max-height: 0;
            visibility: hidden;
            opacity: 0;
        }
    }
}

.DateItem {
    height: calc(100% - 2px);
    padding: 5px 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1px 0;
    text-align: left;
    min-width: 100px;
    &.EmptyCell {
        min-width: 200px;
        display: flex;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: rgb(58, 58, 58);
        font-weight: 100;
    }
    &.Weekend {
        background: repeating-linear-gradient(45deg, 
        #55555538 0%,
        #55555538 10%,
        #d8d8d8da 10%,
        #d8d8d8da 20%,);
    }
}


.Button_DropDown {
    width: 100%;
    padding: 10px 0;
    // box-shadow: inset 1px 1px 5px rgba(124, 166, 245, 0.473);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4563b6;
    position: relative;
    font-size: 17px;
    .Selection {
        padding: 0 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .Icon {
            transition: ease-in-out 0.3s;
            font-size: 30px;
        }
    }
    .ListItem {
        margin-top: 15px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgb(136, 136, 136);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.397);


        display: flex;
        flex-direction: column;
        gap: 1px;
        overflow: hidden;
        transition: ease-in-out 0.2s;
        
        .Item {
            background-color: #ffffff;
            padding: 10px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            
            cursor: pointer;
            &:hover {


                background-color: rgba(187, 225, 255, 0.925);

            }
        }
    }
    &:hover .ListItem {
        visibility: visible;
        opacity: 1;
    }
    &:hover .Icon {
        transform: rotate(180deg);

    }
}
