.CharBarContainer {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 10px 50px;
  padding-top: 30px;
  overflow: hidden;
  overflow-x: auto;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  font-family: "Space Grotesk", sans-serif;
}
.CharBarContainer .MainChartContainer {
  height: 90%;
}
.CharBarContainer .MainChartContainer .CharBarList {
  width: 100%;
  height: inherit;
  display: flex;
  border-left: 1px solid #ccc;
  position: relative;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line {
  position: absolute;
  height: 1px;
  background-color: rgb(226, 226, 226);
  width: 100%;
  font-size: 12px;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line .Label {
  position: absolute;
  right: 100%;
  bottom: 50%;
  transform: translateY(50%);
  padding-right: 5px;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line.SubLine {
  background-color: transparent;
  border-bottom: 1px dashed rgb(223, 221, 221);
  font-size: 11px !important;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._0 {
  bottom: 0;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._1 {
  bottom: 10%;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._2 {
  bottom: 20%;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._3 {
  bottom: 30%;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._4 {
  bottom: 40%;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._5 {
  bottom: 50%;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._6 {
  bottom: 60%;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._7 {
  bottom: 70%;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._8 {
  bottom: 80%;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._9 {
  bottom: 90%;
}
.CharBarContainer .MainChartContainer .CharBarList .BackgroundMeasure .Line._10 {
  bottom: 100%;
}
.CharBarContainer .MainChartContainer .CharBarList .ChartBarItem {
  height: 100%;
  width: 100%;
  padding: 0 20px;
}
.CharBarContainer .MainChartContainer .CharBarList .ChartBarItem:hover {
  background-color: rgb(233, 233, 233);
}
.CharBarContainer .MainChartContainer .CharBarList .ChartBarItem .BarDetail {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: inherit;
  gap: 0px;
}
.CharBarContainer .MainChartContainer .CharBarList .ChartBarItem .BarDetail .Value {
  font-size: 13px;
  width: 100%;
  border: 0px solid rgba(72, 72, 72, 0.4431372549);
  color: #fff;
  font-weight: bold;
  transform-origin: bottom;
  text-align: center;
  position: relative;
  opacity: 0.8;
}
.CharBarContainer .MainChartContainer .CharBarList .ChartBarItem .BarDetail .Value .BarValue {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.CharBarContainer .MainChartContainer .CharBarList .ChartBarItem .Label {
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
}
.CharBarContainer .Note {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.CharBarContainer .Note .ValueNote {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
.CharBarContainer .Note .ValueNote .ColorBox {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=ChartBarTemplate.css.map */