.NavButton {
  width: 64px;
  height: 40px;
  padding: 8px;
  color: #666666;
  fill: #666666;
  position: relative;
  z-index: 5;
}
.NavButton .Icon {
  font-size: 24px;
  color: #666666;
  fill: #666666;
}
.NavButton.Active {
  background-color: #E8EAF6;
}
.NavButton.Active .Icon {
  font-size: 24px;
  fill: #5A38EE !important;
  color: #5A38EE !important;
}
.NavButton .ToolTip {
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  visibility: hidden;
  opacity: 0;
  background-color: rgb(34, 34, 34);
  font-size: 10px;
  color: #fff;
  padding: 4px 6px;
  border-radius: 10px;
  transition: ease-in-out 0.1s;
  z-index: 5;
}
.NavButton:hover .ToolTip {
  visibility: visible;
  opacity: 1;
  background-color: rgb(63, 63, 63);
  font-size: 10px;
  color: #fff;
  padding: 4px 6px;
  border-radius: 10px;
}
.NavButton:hover {
  background-color: #E8EAF6;
}

.NavLoginButton {
  width: 64px;
  height: 40px;
  padding: 8px;
}
.NavLoginButton .Icon {
  font-size: 24px;
  color: #666666 !important;
  fill: #666666 !important;
}
.NavLoginButton.Active {
  background-color: #E8EAF6;
}
.NavLoginButton.Active .Icon {
  font-size: 24px;
  fill: #5A38EE !important;
  color: #5A38EE !important;
}

.LinkTextButton {
  text-decoration: none;
}
.LinkTextButton .NavTextButton {
  width: 100%;
  text-align: left;
  justify-content: flex-start !important;
  padding: 8px 16px;
  color: #666666;
  text-transform: unset !important;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
}
.LinkTextButton .NavTextButton.Active {
  background-color: #E8EAF6;
  border-right: #5A38EE 2px solid;
  color: #5A38EE;
}
.LinkTextButton .NavTextButton:hover {
  background-color: #e7e7e7;
}

.LinkGroupButton {
  text-decoration: none;
}
.LinkGroupButton .NavGroupButton {
  width: 100%;
  text-align: left;
  justify-content: space-between !important;
  padding: 8px 16px;
  color: #666666;
  text-transform: unset !important;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
  white-space: nowrap;
}
.LinkGroupButton .NavGroupButton.Active {
  background-color: #E8EAF6;
  border-right: #5A38EE 3px solid;
  color: #5A38EE;
}
.LinkGroupButton .NavGroupButton:hover {
  background-color: #e7e7e7;
}
.LinkGroupButton .NavGroupButton .Icon {
  font-size: 20px;
  transform: rotateZ(0deg);
  transition: 0.2s ease-in-out;
}
.LinkGroupButton .NavGroupButton .Icon.Active {
  transform: rotateZ(180deg);
}
.LinkGroupButton .NavTextContainer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: flex-end;
  min-height: 0;
  max-height: 0;
  transition: ease-in-out 0.2s;
  overflow: hidden;
}
.LinkGroupButton .NavTextContainer.Active {
  max-height: 100%;
}
.LinkGroupButton .NavTextContainer .NavTextButton {
  width: 90%;
  text-align: left;
  justify-content: flex-start !important;
  padding: 8px 16px;
  color: #666666;
  text-transform: unset !important;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
  text-decoration: none;
  border-right: #5A38EE 3px transparent;
}
.LinkGroupButton .NavTextContainer .NavTextButton.Active {
  background-color: #E8EAF6;
  border-right: #5A38EE 3px solid;
  color: #5A38EE;
}
.LinkGroupButton .NavTextContainer .NavTextButton:hover {
  background-color: #e7e7e7;
}

.InfoPanel {
  cursor: pointer;
  display: flex;
  padding: 16px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.InfoPanel .IconContainer {
  width: 68px;
  height: 72px;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.InfoPanel .IconContainer::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #E8EAF6;
  position: absolute;
  border-radius: 5px;
}
.InfoPanel .IconContainer::after {
  content: "";
  width: 44px;
  height: 48px;
  background-color: #7986CB;
  position: absolute;
  border-radius: 5px;
}
.InfoPanel .IconContainer.Purple::before {
  background-color: #E8EAF6;
}
.InfoPanel .IconContainer.Purple::after {
  background-color: #7986CB;
}
.InfoPanel .IconContainer.Yellow::before {
  background-color: #FFF3E0;
}
.InfoPanel .IconContainer.Yellow::after {
  background-color: #FFB74D;
}
.InfoPanel .IconContainer.Blue::before {
  background-color: #E3F2FD;
}
.InfoPanel .IconContainer.Blue::after {
  background-color: #64B5F6;
}
.InfoPanel .IconContainer.Pink::before {
  background-color: #F3E5F5;
}
.InfoPanel .IconContainer.Pink::after {
  background-color: #BA68C8;
}
.InfoPanel .IconContainer .Icon {
  position: relative;
  z-index: 2;
  font-size: 18px;
}

.BlankPanel {
  background-color: #fff;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
}

.ButtonItem {
  background-color: #5A38EE !important;
  color: #fff !important;
  font-weight: 700 !important;
  text-transform: unset !important;
  height: 42px;
}
.ButtonItem.Disabled {
  background-color: #ccc !important;
  color: #fff !important;
}/*# sourceMappingURL=Templates.css.map */